/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2017, 1:45:33 PM
    Author     : ebelevics
*/


.dropzone {
    min-height: 200px;
    padding-top: 100px;
    position:relative;
    color:#ccc;
    border: 2px dashed #ccc;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.dropzone-dragover {
    color:#f44336;
    border-color: #f44336;

}

.dropzone:hover  {
    cursor: pointer;

}

.dropzone-hide {
    display: none;
}

.dropzone-img-div {
    vertical-align: top;
    display: inline-block;
    border: #eee solid 1px;
    position: relative;
    margin: 10px;
    height: 150px;
    width: 150px;
}

.dropzone-img-div:hover {
    cursor: pointer;
    border-color: #ddd;
}

/* Bilde iekšā div */
.dropzone-img {
    height: 150px;
    width: 150px;
    position: relative
}

/* remove poga */
.dropzone-img-rem {
    left: -6px;
    top: -6px;
    padding-left: 4px;
    padding-top: 3px;
    display: block;
    position: absolute;
    height: 19px;
    width: 17px;
    border: black solid 1px;
    border-radius: 100%;
    background-color: white;
    color: black;
}

/* edit poga */
.dropzone-img-edit {
    left: -6px;
    top: 22px;
    padding-left: 3px;
    padding-top: 3px;
    display: block;
    position: absolute;
    height: 19px;
    width: 17px;
    border: black solid 1px;
    border-radius: 100%;
    background-color: white;
    color: black;
}

/* abām pogām hover */
.dropzone-img-rem:hover,
.dropzone-img-edit:hover {
    color: #f44336;
    cursor: pointer;
    border-color: #f44336;
}

.dropzone-add {

    margin: 10px;
    height: 112px;
    width: 147px;
    padding-top: 35px;
    vertical-align:top;
    
    position: relative;
    display: none;

    color:#ccc;
    border: 2px dashed #ccc;
    text-align: center;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.dropzone-add-dragover {
    color:#f44336;
    border-color: #f44336;

}

.dropzone-add:hover {
    color:#f44336;
    border-color: #f44336;
    cursor: pointer;

}

.dropzone-functional {
    position: absolute;
    top: 0;
    opacity: 0.8;
    display: block;
    width: 100%;
    height: 100%;
}