/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 26, 2017, 2:26:50 PM
    Author     : ebelevics
*/

.album-creation-form {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.create-folder-name {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 20px;
}

.create-folder-name:focus {
    outline-color: red;
}

.folder-create-btn {

    display:inline-block;
    position: relative;
    left: 30px;

    margin-top: 15px;
    background-color: #f44336;
    color: white;
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.folder-create-btn:hover{
    background-color: red;
    cursor: pointer;
}

.folder-cancel-btn:hover{
    color: black;
    cursor: pointer;
}

.folder-cancel-btn {

    display:inline-block;
    position: relative;
    
    margin-left: 60px;

    margin-top: 15px;
    color: #ccc;
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}