/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 25, 2017, 2:34:14 PM
    Author     : ebelevics
*/

.message {
    z-index: 10;
    position: fixed;
    display: none;
    top:0px;
    left:20%;
    width: 60%;
    padding: 20px;
    background-color: #f44336;
    color: white;
}
.message.alert {background-color: #f44336;}
.message.success {background-color: #4CAF50;}
.message.info {background-color: #2196F3;}
.message.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}