/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 28, 2017, 12:05:23 PM
    Author     : ebelevics
*/

/*SEARCH*/
.searched-div{
    text-decoration: none;
    display:inline-block;
    position:relative;
    height: 150px;
    width: 150px;
    border: 1px solid gainsboro;
    vertical-align: top;
    text-align: center;
    color: black;
    margin: 5px;
    font-size: 14px;
    font-style: initial;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.searched-div:hover{
    border: 1px solid #f44336;
}

.searched-div img{
    color: grey;
    display: inline-block;
    max-height: 110px;

}

.searched-div i{
    color: grey;
    display: block;
    top:10px;
    position: absolute;
    width: 100%;
    max-height: 110px;

}

.searched-txt-div{
    text-decoration: none;
    display: block;
    position: absolute;
    bottom: 0px;
    background-color: #f44336;
    color: white;
    width: 100%;
    min-height: 30px;
    max-height: 50px;
    padding-bottom: 7px;
    font-size: 100%;
}



/*PROFILE INFORMATION*/
.profile-info {
    padding-top: 10px;
    padding-left: 40px;
    line-height: 160%;
}

.profile-info > h3 {
    position: relative;
    left: -10px;
}

.profile-pic-upload-choose input[type="file"] {
    display: none;
}
.profile-pic-upload-choose span {
    font-size: 15px;
    font-style: italic;
    text-decoration: underline;
}

.profile-pic-upload-choose:hover {
    color: #f44336;
    cursor: pointer;
}


.profile-pic-upload-btn {

    position: relative;
    top: 2px;
    margin-right: 2px;
    text-decoration: none;
    margin-top: 100px;
    background-color: #f44336;
    color: white;
    width: 130px;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    border: 1px solid gainsboro;

}

.profile-pic-upload-btn:hover {
    background-color: red;
    border: 1px solid #f44336;
}