/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2017, 1:45:33 PM
    Author     : ebelevics
*/

.edit-window {
    z-index: 10;
    display: none;
    position: absolute;
    background-color: #fdfdfd;
    border: 2px solid #ccc;
    padding: 10px;
    font-size: 14px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 30px;
    border-top-left-radius: 0px;
}


.edit-window-title{
    margin: 5px;
    height: 20px;
    width: 180px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.edit-window-note{
    resize: none;
    width: 180px;   
    margin: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.edit-window-title:focus,
.edit-window-note:focus {
    outline-color: red;
}

.edit-window-edit {
    position: relative;
    display: block-inline;
    margin-top: 5px;
    background-color: #f44336;
    color: white;
    width: 75px;
    padding: 5px;
    float: left;
    left: 20px;
}

.edit-window-cancel {
    position: relative;
    display: block-inline;
    margin-top: 5px;
    color: grey;
    width: 50px;
    padding: 5px;
    float: right;
    right: 20px;
}

.edit-window-edit:hover {
    background-color: red;
    cursor: pointer;
}

.edit-window-cancel:hover {
    color: black;
    cursor: pointer;
}

.dropzone-img-edited {
    background-color: #f44336;
    color: white;
    border-color: #f44336;
}

.dropzone-img-edited:hover {
    border-color: white;
    color: white;
}