<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>

        <title>
            <ui:insert name="title">Default title</ui:insert>
        </title>

        <!-- Tiek pievienots StyleSheet-->  
        <h:outputStylesheet name="css/style.css" />
        <h:outputScript library="webjars" name="jquery/2.2.4/jquery.js" /> 
        <h:outputScript library="webjars" name="bootstrap/3.3.6/js/bootstrap.min.js" />

        <h:outputStylesheet library="webjars" name="font-awesome/4.7.0/css/font-awesome.min-jsf.css" />

    </h:head>

    <h:body>
        <ui:insert name="properties"/>
        <div id="wrapper">
            
            <div id="header">
                <ui:insert name="header">
                    <ui:include src="/WEB-INF/HEADER/header.xhtml" />
                </ui:insert>
            </div>

            
            <div id="container">
                <div id="sidebar" class="main-components">
                    <ui:insert name="sidebar">Default sidebar</ui:insert>
                </div>

                <div id="content" class="main-components">
                    <ui:insert name="content">Default content</ui:insert>
                </div>
            </div>

            
            <div id="footer">
                <ui:insert name="footer">
                   <ui:include src="/WEB-INF/FOOTER/footer.xhtml" />
                </ui:insert>
            </div>

        </div>
    </h:body>
</html>