<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
    <title>Atjaunot paroli</title>
</h:head>
<h:body>
    
    <!-- TODO password reset via email-->
    <h:form>
        <h1>Piclr</h1>
        <h:outputText value="Ieraksti savu lietotājvārdu vai e-pastu " />
        <h:inputText id="email" value="#{forgotPasswordBean.email_username}"></h:inputText>
        <h:message for="email"></h:message>
        <br></br><br></br>

        <h:button value="Atpakaļ" outcome="pretty:login" />
        <h:commandButton action="#{forgotPasswordBean.resetPassword}"
                value="Atjaunot paroli"></h:commandButton>
    </h:form>

</h:body>
</html>
