<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Piclr</title>
    </h:head>
    <h:body>

        <!-- Ieraksta e-pastu/lietotāju un paroli. Palaiž loginBean-->
        <h:form>
            <h1>Piclr</h1>
            <h:outputText value="E-pasts vai lietotājvārds " />
            <h:inputText id="email" value="#{loginBean.email_username}"></h:inputText>
            <h:message for="email"></h:message>
            <br></br><br></br>

            <h:outputText value="Parole " />
            <h:inputSecret id="password" value="#{loginBean.userPassword}"></h:inputSecret>
            <h:message for="password"></h:message>
            <br></br><br></br>

            <h:commandButton action="#{loginBean.login}"
                             value="Pierakstīties"></h:commandButton>
        </h:form>

        <!-- Pašlaik nedarbojas-->
        <h:button 
            value="Pievienoties caur Facebook" />

        <!-- Pāriet uz forgot_password.xhtml-->
        <br></br><br></br>
        <h:link outcome="pretty:forgotpwd"
                value="Aizmirsi paroli?" />

        <!-- Pāriet uz regisration_form.xhml-->
        <br></br>
        <h:link id="reg" outcome="pretty:register"
                value="Reģistrēties" />
        <br/>

        <h:form>
            <h:commandLink id="del" action="#{deleteBean.deleteAll()}" style="display:none"/>
        </h:form>

    </h:body>
</html>
