<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Reģistrācija</title>
    </h:head>
    <h:body>
        <h:form>
            <h1>Piclr</h1>
            <h:outputText value="Vārds " />
            <h:inputText id="first" value="#{registerBean.firstname}"></h:inputText>
            <h:message for="first"></h:message>
            <br></br><br></br>

            <h:outputText value="Uzvārds " />
            <h:inputText id="last" value="#{registerBean.lastname}"></h:inputText>
            <h:message for="last"></h:message>
            <br></br><br></br>

            <h:outputText value="Lietotājvārds " />
            <h:inputText id="username" value="#{registerBean.username}"></h:inputText>
            <h:message for="username"></h:message>
            <br></br><br></br>

            <h:outputText value="E-pasts " />
            <h:inputText id="email" value="#{registerBean.email}"></h:inputText>
            <h:message for="email"></h:message>
            <br></br><br></br>

            <h:outputText value="Parole " />
            <h:inputSecret id="pwd" value="#{registerBean.userPassword}"></h:inputSecret>
            <h:message for="pwd"></h:message>
            <br></br><br></br>

            <h:outputText value="Atkārtota parole " />
            <h:inputSecret id="pwd2" value="#{registerBean.userPassword2}"></h:inputSecret>
            <h:message for="pwd2"></h:message>
            <br></br><br></br>

            <h:button outcome="pretty:login"
                      value="Atpakaļ" />
            <h:commandButton action="#{registerBean.register}"
                             value="Piereģistrēties"></h:commandButton>
        </h:form>
    </h:body>
</html>
