/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2017, 10:24:00 AM
    Author     : ebelevics
*/

.dropzone-upload-btns {
    display: none;
}

.dropzone-upload-btn {

    display:inline-block;
    position: relative;
    left: 30px;

    margin-top: 15px;
    background-color: #f44336;
    color: white;
    width: 120px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.dropzone-upload-btn:hover{
    background-color: red;
    cursor: pointer;
}

.dropzone-upload-cancel-btn:hover{
    color: black;
    cursor: pointer;
}

.dropzone-upload-cancel-btn {

    display:inline-block;
    position: relative;
    
    margin-left: 60px;

    margin-top: 15px;
    color: #ccc;
    width: 80px;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}
