<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputStylesheet name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/EDIT-POPUP/css/style.css" />
    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/EDIT-POPUP/js/form-data.js" />

    <div id="edit-window" class="edit-window">
<!--                <h:inputText id="title" class="edit-window-title" value="" pt:placeholder="Enter title"/>
                <h:inputTextarea id="note" class="edit-window-note" value="" rows="5" pt:placeholder="Add a description..."/>
                <h:selectManyCheckbox id="properties"
                                      class="edit-window-properties"
                                      value=""
                                      layout="pageDirection">
                    <f:selectItem id="public" itemLabel="Public" itemValue="1"  />
                    <f:selectItem id="commentable" itemLabel="Commentable" itemValue="2" />
                    <f:selectItem id="rateable" itemLabel="Rateable" itemValue="3" />
                    <f:selectItem id="piclr" itemLabel="Piclr" itemValue="4" />
                    <f:selectItem id="downloadable" itemLabel="Downloadable" itemValue="5" />
                </h:selectManyCheckbox>-->

        <input type="text" id="title" class="edit-window-title" value="" placeholder="Bildes nosaukums..."/> <br/>
        <textarea id="note" class="edit-window-note" value="" rows="5" placeholder="Bildei apraksts..."/> <br/>
        <input type="checkbox" id="public" name="properties[]" value="1"/> Publiskot <br/>
        <input type="checkbox" id="commentable" name="properties[]" value="2"/> Komentējams <br/>
        <input type="checkbox" id="rateable" name="properties[]" value="3"/> Vērtējams <br/>
        <input type="checkbox" id="piclr" name="properties[]" value="4"/> Piclr vērtējams <br/>
        <input type="checkbox" id="downloadable" name="properties[]" value="5"/> Lejuplādējams <br/>


        <div id="edit" class="edit-window-edit" onclick="editForm()">
            Apstiprināt izmaiņas
        </div> 

        <div id="cancel" class="edit-window-cancel" onclick="closeEditWindow()">
            Atcelt
        </div> 
    </div>


</ui:composition>