<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputStylesheet name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/css/style.css" />

    <ui:include src="/WEB-INF/CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/DROPZONE/dropzone.xhtml" />
    <ui:include src="/WEB-INF/CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/EDIT-POPUP/edit.xhtml" />
    <ui:include src="/WEB-INF/CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/PREVIEW-PICTURES/preview.xhtml" />


    <div id="dropzone-add" class="dropzone-add" onclick="onClickDropzone()">
        <i class="fa fa-plus-square fa-4x" aria-hidden="true"></i>
    </div> 

    <div class="dropzone-upload-btns">
        <c:choose>
            <c:when test="#{galleryBean.albumId == null}">
                <div class="dropzone-upload-btn" onclick="uploadPicutures(#{userSessionBean.currentUser.id}, null)">
                    Augšuplādēt
                </div> 
            </c:when>
            <c:otherwise>
                <div class="dropzone-upload-btn" onclick="uploadPicutures(#{userSessionBean.currentUser.id}, #{galleryBean.albumId})">
                    Augšuplādēt
                </div> 
            </c:otherwise>
        </c:choose>

        <div class="dropzone-upload-cancel-btn" onclick="clearModal()">
            Atcelt
        </div> 
    </div>



</ui:composition>