<ui:composition template="/WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="properties">
        <h:outputScript name="CONTENT/MAIN-GALLERY/js/modal.js"  />
        <h:outputScript name="CONTENT/MAIN-GALLERY/js/onevent.js"  />
        <f:metadata>
            <o:viewParam name="albumId" value="#{galleryBean.albumId}" />
            <c:if test="#{param.userId != userSessionBean.currentUser.id}">
                <o:viewParam name="userId" value="#{galleryBean.spectatedUserId}" />
            </c:if>
        </f:metadata>

    </ui:define>

    <!-- TODO insert title-->
    <ui:define name="title">
        Albūms
    </ui:define>


    <ui:define name="content">
        <o:form enctype="multipart/form-data" includeViewParams="true">
            <f:param name="project" value="#{param.project}" />

            <ui:include src="/WEB-INF/CONTENT/MAIN-GALLERY/MODAL/main_modal.xhtml"/>

            <div id="main-user-content">

                <ui:repeat value="#{galleryBean.pictures}" var="picture">
                    <span class="user-picture-span">
                        <o:graphicImage class="user-picture" value="#{picture.picture}" dataURI="true" />

                        <c:if test="#{galleryBean.spectatedUserId == null}">
                            <h:commandLink class="user-picture-remove-btn" action="#{deleteBean.deletePicture(picture)}">
                                <f:ajax onevent="function(data) {removeUserImage(data, '#{picture.title}')}"/>
                                <span>
                                    <i class="fa fa fa-times fa-2x"/>
                                </span>
                            </h:commandLink>
                        </c:if>
                    </span>
                </ui:repeat>

                <c:if test="#{galleryBean.spectatedUserId == null}">
                    <div id="upload-create-pic-btn" onclick="myModal(true)">
                        Augšuplādēt bildes
                    </div>
                </c:if>
            </div>
        </o:form>

    </ui:define>


</ui:composition>