<ui:composition template="/WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <ui:define name="properties">
        <h:outputStylesheet name="CONTENT/MAIN-GALLERY/css/style.css" />
    </ui:define>

    <!-- TODO insert title-->
    <ui:define name="title">
        #{userSessionBean.currentUser.username} profils
    </ui:define>

    <ui:define name="content">
        <o:form enctype="multipart/form-data" includeViewParams="true">
            <div class=" piclr-font profile-info">
                <h3>Profila informācija</h3>
                <c:if test="#{not empty userSessionBean.currentUser.profilePicture}">
                    <o:graphicImage value="#{userSessionBean.currentUser.profilePicture}" style="height: 150px; padding-top: 5px" dataURI="true" />
                </c:if> 

                <p>Vārds: #{userSessionBean.currentUser.firstname}</p>
                <p>Uzvārds: #{userSessionBean.currentUser.lastname}</p>
                <p>E-pasts: #{userSessionBean.currentUser.email}</p>
                <p>Lietotājvārds: #{userSessionBean.currentUser.username}</p>

                <p>Pievienojies kopš: #{userSessionBean.currentUser.createdAt}</p>
                <br/>

                <span style="font-weight: bold">Profila bildes atjaunošana:</span><br/>
                <label class="profile-pic-upload-choose">
                    <span>Izvēlēties</span>
                    <p:fileUpload value="#{pictureUploadBean.profilePicture}" mode="simple" /> <br/>
                </label>
                <p:commandLink class="profile-pic-upload-btn" value="Atjaunot" action="#{pictureUploadBean.profileUpload}" ajax="false"/>
                <p:commandLink class="profile-pic-upload-btn" value="Noņemt" action="#{pictureUploadBean.profileRemove}" ajax="false"/>

            </div>

        </o:form>

    </ui:define>


</ui:composition>