<ui:composition template="/WEB-INF/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <ui:define name="properties">
        <h:outputScript name="CONTENT/MAIN-GALLERY/js/modal.js"  />
        <h:outputScript name="CONTENT/MAIN-GALLERY/js/onevent.js"  />
        <h:outputStylesheet name="CONTENT/MAIN-GALLERY/css/style.css" />
        <f:metadata>
            <o:viewParam name="search" value="#{searchBean.searchText}" />
        </f:metadata>

    </ui:define>

    <!-- TODO insert title-->
    <ui:define name="title">
        Meklēt #{searchBean.searchText}
    </ui:define>

    <ui:define name="content">
        <o:form enctype="multipart/form-data" includeViewParams="true">    

            <c:choose>
                <c:when test="#{searchBean.foundUsers == null}">
                    <h3 class="piclr-font">Lietotājs "#{searchBean.searchText}" nav atrasts</h3>
                </c:when> 

                <c:otherwise>
                    <ui:repeat value="#{searchBean.foundUsers}" var="foundUser">
                        <h:link outcome="main_gallery?faces-redirect=true">
                            <f:param name="userId" value="#{foundUser.id}"/>

                            <h:panelGroup class="searched-div">
                                <ui:fragment rendered="#{not empty foundUser.profilePicture}">
                                    <o:graphicImage class="searched-img" value="#{foundUser.profilePicture}" dataURI="true"/>
                                </ui:fragment>
                                <ui:fragment rendered="#{empty foundUser.profilePicture}">
                                    <i class="fa fa-user-circle-o fa-5x searched-img" aria-hidden="true"></i>
                                </ui:fragment>

                                <h:panelGroup class="searched-txt-div">
                                    #{foundUser.firstname}
                                    #{foundUser.lastname}<br/>
                                    #{foundUser.username}<br/> 
                                </h:panelGroup>

                            </h:panelGroup>

                        </h:link>
                    </ui:repeat>
                </c:otherwise>
            </c:choose>

        </o:form>
    </ui:define>


</ui:composition>