<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/DROPZONE/js/dragover.js"  />
    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/DROPZONE/js/drop.js"  />
    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/DROPZONE/js/onclick.js"  />
    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/DROPZONE/js/file-validation.js"  />
    <h:outputStylesheet name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/DROPZONE/css/style.css" />




    <div id="picture-dropzone" class="dropzone" onclick="onClickDropzone()">
        <span id="drop-pic-txt">
            <i class="fa fa-download fa-4x" aria-hidden="true"></i>
            <br/>
            Iemetiet bildes vai <span style="text-decoration: underline">nospiedied šeit</span>, lai augšuplādētu bildes! (max 10 MB)
        </span>
    </div> 

    


</ui:composition>