<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/js/modal.js"  />
    <h:outputStylesheet name="CONTENT/MAIN-GALLERY/MODAL/css/style.css" />



    <div id="myModal" class="modal" >
        <div class="modal-content">
            <!--[X] close Modal-->
            <i class="fa fa-times fa-lg close" onclick="myModal(false)"/>
            <!--modal content izvēlne-->
            <h3 class="piclr-font piclr-font-grey">
                <span id="upload-pic-btn" class="piclr-hover #{falseStatement ? '':'piclr-active'}" onclick="showUploadPictures()">
                    Augšuplādēt bildes
                </span> 
                <c:if test="#{galleryBean.albumId == null}">
                    <span id="create-folder-btn" class="piclr-hover #{falseStatement ? 'piclr-active':''}" onclick="showCreateAlbum()">
                        Izveidot albūmu
                    </span>
                </c:if>


            </h3>
            <br/>

            <div id="upload-pictures-div" class="#{falseStatement ? 'piclr-hide':''}" style="vertical-align:top">
                <ui:include src="/WEB-INF/CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/upload_pictures.xhtml" />
            </div>
            <c:if test="#{galleryBean.albumId == null}">
                <div id="create-album-div" class="#{falseStatement ? '':'piclr-hide'}">
                    <ui:include src="/WEB-INF/CONTENT/MAIN-GALLERY/MODAL/CREATE-ALBUM/create_album.xhtml" />
                </div>
            </c:if>


            <input id="imageInput" type="file" name="img" multiple="multiple" onchange="onChangeDropzone(event), resetOnChange(this)" style="display:none" />
        </div>
    </div>
</ui:composition>