<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">


    <h:outputScript name="HEADER/js/dropdown-menu.js"  />
    <h:outputStylesheet name="HEADER/css/style.css" />


    <ui:include src="/WEB-INF/HEADER/MESSAGES/messages.xhtml" />
    <h:form>
        <div id="nav-bar">
            <div id="nav-bar-left">
                <h:link outcome="main_gallery?faces-redirect=true">
                    <div id="home-button" class="piclr-cursor">
                        Piclr
                    </div>
                </h:link>
                <div id="shares-button" class="piclr-cursor">
                    Koplietotās bildes
                </div>
                <div id="gallery-button" class="piclr-cursor">
                    Galerija
                </div>
            </div>



            <ul>
                <li id="search-item" class="nav-items">
                    <div id="search-bar">
                        <!--                        Sūtīšana uz ENTER key nesanāk caur f:ajax-->
                        <h:inputText id="search" class="search-txt" value="#{searchBean.searchText}"
                                     onkeypress="if (event.keyCode === 13) {
                                                 onchange();
                                                 return false;
                                             }">
                            <f:ajax event="change" listener="#{searchBean.searchUsers()}" /> 
                        </h:inputText>

                        <h:commandLink class="search-btn" action="#{searchBean.searchUsers()}">
                            <i class="fa fa-search piclr-cursor"></i>
                        </h:commandLink>
                    </div>
                </li>

                <li id="dropdown-item" class="nav-items piclr-cursor" onclick="myDropdown()">
                        <c:choose>
                            <c:when test="#{not empty userSessionBean.currentUser.profilePicture}">
                                <o:graphicImage class="profile-picture-btn" value="#{userSessionBean.currentUser.profilePicture}" dataURI="true" />
                            </c:when>
                            <c:otherwise>
                                <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                            </c:otherwise>
                        </c:choose>


                    <ul id="dropdown-ul">
                        <li>
                            <h:link outcome="profile?faces-redirect=true" value="Profils"/>
                        </li>
                        <li>                
                            <h:link
                                value="Notikumi" />
                        </li>
                        <li>                
                            <h:link
                                value="Grupas" />
                        </li>
                        <li>                
                            <h:link
                                value="Iestatījumi" />
                        </li>
                        <li>                
                            <h:commandLink action="#{loginBean.logout()}" value="Izrakstīties"></h:commandLink>
                        </li> 
                    </ul>
                </li>


            </ul>




        </div>
    </h:form>
</ui:composition>

