/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 27, 2017, 5:09:17 PM
    Author     : ebelevics
*/

/* HEADER STYLING*/
#header #nav-bar {
    z-index: 1;
    display: block;
    position: fixed;
    left: 0;
    top: 0;

    min-width: 365px;
    max-height: 40px;
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#header #nav-bar #home-button {
    position: static;
    display: inline-block;
    text-decoration: none;
    color: black;

    padding: 9px;
    margin-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#header #nav-bar #shares-button {
    position: relative;
    display: inline-block;
    left:4%;


    padding: 7px 7px 10px 7px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: smaller;
}

#header #nav-bar #gallery-button {
    position: relative;
    display: inline-block;
    left: 5%;

    padding: 7px 7px 10px 7px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    margin-left: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: smaller;
}

#header #nav-bar #home-button:hover {
    background-color: #f44336;
    color: white;   
}

#header #nav-bar #shares-button:hover {
    background-color: #f44336;
    color: white;   
}

#header #nav-bar #gallery-button:hover {
    background-color: #f44336;
    color: white;   
}

#header #nav-bar ul {
    margin: 0;
    position: absolute;
    top: 0;
    right: 40px;

}

#header #nav-bar ul .nav-items {
    display: inline-block;

}

#header #nav-bar ul #search-item {
    position: relative;
    bottom: 8px;
}

.search-txt:focus{
    outline-color: red;
}
.search-btn{
    text-decoration: none;
    color: black;
}
.search-btn:hover{
    color: #f44336;
}

#header #nav-bar ul #search-item:hover {
    color: #f44336;

}

#header #nav-bar ul #dropdown-item {
    padding: 4px;
    margin-left: 10px;
}

#header #nav-bar ul #dropdown-item ul {
    display: none;
    position: absolute;
}

#header #nav-bar ul #dropdown-item:hover {
    color: #f44336;
}

#header #nav-bar ul #dropdown-item #dropdown-ul {
    padding: 0;
    position: absolute;
    display: none;

    top:35px;
    right:0px;
    border: 1px solid #ccc;
}

#header #nav-bar ul #dropdown-item ul li {
    position: relative;
    z-index: 3;

    width: 80px;
    height: 25px;
    right: 0px;

    background-color: white;
    color:black;
    list-style: none;
    text-align: center;
}

#header #nav-bar ul #dropdown-item ul li a {
    color:black;
    text-decoration: none;
}

#header #nav-bar ul #dropdown-item ul li:hover {
    background-color: #f44336;
}

#header #nav-bar ul #dropdown-item ul li:hover a {
    color:white;
}

.profile-picture-btn {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    border: 1px solid transparent;
}

.profile-picture-btn:hover {
    border: 1px solid #f44336;
    
}