/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2017, 10:24:00 AM
    Author     : ebelevics
*/

/** GENERIC STYLING **/
.piclr-font {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.piclr-hover:hover {
    color: #f44336;
    cursor: pointer;
}

.piclr-active {
    color: #f44336;
    cursor: pointer;
}

.piclr-cursor:hover {
    cursor: pointer;
}

.piclr-font-grey {
    color: gainsboro;
}

.piclr-show {
    display: block;
}

.piclr-hide {
    display: none;
}

.piclr-loader {
    vertical-align:top;
    margin: 65px 71px;
    display:inline-block;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid grey;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.piclk-noQuickSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/** TEMPLATE STYLING **/
/* For Footer Styling*/
* {
    margin: 0;
}

html, body {
    height: 85%;
}

#wrapper{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -155px;
}



/* BODY STYLING*/

html {
    box-sizing: border-box;
}

body {
    background-color:#fafafa;
    margin-top: 40px;
    height: 100%;
    box-sizing: border-box;
}

#container{
    margin-top: 100px;
    margin-bottom: 40px;
    position: relative;
    display: table;
    width: 92%;
    height: 780px;
    margin-left: 4%;
    margin-right: 4%;
}

/* Sidebar and Main-Content Styling*/

.main-components{
    vertical-align:top;
    overflow: auto;
    background-color: white;
    border: 1px solid #ccc;
}

/* Sidebar Styling*/

#sidebar{  
    position: relative;
    display: table-cell;
    width: 250px;
    height: 100%;
    left: -10px;
}

#content{
    display: table-cell;
    width: 100%;   
    height: 100%;
    float: right;
    padding-top: 10px;
}

/* Footer Styling*/

#footer{
    padding: 0;
    margin: 0;

    position: relative;
    width: 100%;
    height: 50px;
    background-color: black;
    display: block;
    bottom: -4px;
    left: 0px;
    opacity: 0.8;
    color: white;

}

@media screen and (max-width: 800px) {
    #container{
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #sidebar{  
        display: none;
    }

    #content{ 
        float: left;
        position: relative;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

}

/** MAIN-GALLERY CONTENT STYLING **/
#upload-create-pic-album-btn {
    display:inline-block;
    padding: 10px;
    margin: 10px;
    border: 10px dashed gainsboro;

    height: 160px;
    width: 160px;

    color: gainsboro;
    text-align: center;
    font-size: 26px;
    font-style: initial;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#upload-create-pic-album-btn:hover {
    color: #f44336;
    border-color: #f44336;
    cursor: pointer;
}

#upload-create-pic-btn {
    display:inline-block;
    padding: 10px;
    padding-top: 40px;
    margin: 10px;
    border: 10px dashed gainsboro;

    height: 130px;
    width: 170px;

    color: gainsboro;
    text-align: center;
    font-size: 30px;
    font-style: initial;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#upload-create-pic-btn:hover {
    color: #f44336;
    border-color: #f44336;
    cursor: pointer;
}

/* Dropzone-FROM-CONTENT */

.dropzone-content {
    border: 1px solid #f44336;
    background-color: rgba(255,0,0,0.01);
}

.user-picture-span {
    vertical-align: top;
    display:inline-block;
    margin: 10px;
    position: relative;
}

.user-picture {
    max-height: 200px;
}

.user-picture-remove-btn {
    cursor: pointer;
    position: absolute;
    left: -5px;
    top: -10px;
    text-decoration: none;
    color:#f44336;
}

.user-gallery-span {
    vertical-align: top;
    display:inline-block;
    margin: 10px;
    position: relative;
    max-height: 200px;
}