<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                xmlns:jsf="http://xmlns.jcp.org/jsf">


    <h:outputStylesheet name="HEADER/MESSAGES/css/style.css"  />
    <h:outputScript name="HEADER/MESSAGES/js/messages.js"  />


    <div class="message alert">
        <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true" style="padding-right: 5px"/>
        <span id="alert-msg" class="message-txt">
            Trauksme!
        </span>
        <span class="closebtn" onclick="closeMessage()">
            <i class="fa fa-times" aria-hidden="true"/>
        </span> 

    </div>

    <div class="message success">
        <i class="fa fa-check fa-lg" aria-hidden="true" style="padding-right: 5px"/>
        <span id="success-msg" class="message-txt">
            Veiksmīgi!
        </span>
        <span class="closebtn" onclick="closeMessage()">
            <i class="fa fa-times" aria-hidden="true"/>
        </span> 
    </div>

    <div class="message info">
        <i class="fa fa-info-circle fa-lg" aria-hidden="true" style="padding-right: 5px"/>
        <span id="info-msg" class="message-txt">
            Informācija!
        </span>
        <span class="closebtn" onclick="closeMessage()">
            <i class="fa fa-times" aria-hidden="true"/>
        </span> 
    </div>

    <div class="message warning">
        <i class="fa fa fa-exclamation-circle fa-lg" aria-hidden="true" style="padding-right: 5px"/>
        <span id="warning-msg" class="message-txt">
            Brīdinājums!
        </span>
        <span class="closebtn" onclick="closeMessage()">
            <i class="fa fa-times" aria-hidden="true"/>
        </span> 
    </div>
</ui:composition>

