<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:p="http://primefaces.org/ui"
                xmlns:jsf="http://xmlns.jcp.org/jsf"
                xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/PREVIEW-PICTURES/js/update-files.js"  />
    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/UPLOAD-PICTURES/PREVIEW-PICTURES/js/clear-all-content.js"  />

    <div id="image-div" class="dropzone-img-div piclk-noQuickSelect" style="display:none" >
        <img id="image" class="dropzone-img" src="" alt="Uploaded Image">
            <div id="rem-btn" class = "dropzone-img-rem" onclick = "removeImageByThis(this)" >
                <i class="fa fa-trash-o"/>
            </div>
            <div id="edit-btn" class = "dropzone-img-edit" onclick = "editImage(event, this)" >
                <i class="fa fa-pencil-square-o"/>
            </div>
        </img>
    </div> 


</ui:composition>