<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:jsf="http://xmlns.jcp.org/jsf">

    <h:outputScript name="CONTENT/MAIN-GALLERY/MODAL/CREATE-ALBUM/js/onevent.js"  />
    <h:outputStylesheet name="CONTENT/MAIN-GALLERY/MODAL/CREATE-ALBUM/css/style.css" />

    <div id="album-creation-form" class="album-creation-form">
        <h:outputText value="Albūma nosaukums: " />
        <h:inputText id="folderName" class="create-folder-name" value="#{albumBean.name}"></h:inputText>
        <h:message for="folderName"></h:message>
        <br/>

        <h:commandLink action="#{albumBean.create()}">
            <f:ajax execute='folderName' onevent="function(data) {createUserFolder(data)}"/>
            <div class="folder-create-btn">
                Izveidot albūmu
            </div>
        </h:commandLink>
        <div class="folder-cancel-btn" onclick="clearModal()">
            Atcelt
        </div> 
    </div>
</ui:composition>